<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <h1>こんにちは</h1>

  <div class="back">
    <%= image_tag("sample.gif") %>
  </div>

  </body>
</html>
